In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
dataset = pd.read_csv("cardio_data.csv",delimiter=";")

In [6]:
dataset.shape

(70000, 13)

In [7]:
dataset=dataset

In [8]:
dataset.sample(5)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
53382,76170,17583,1,158,60.0,120,70,1,1,0,0,0,0
7494,10689,18146,1,168,62.0,120,80,1,1,0,0,1,0
54998,78456,20982,1,157,70.0,150,90,1,1,0,0,1,0
37876,54072,21036,2,164,69.0,135,90,2,1,1,0,1,0
68513,97866,17249,2,162,70.0,120,80,3,3,1,1,1,1

In [9]:
dataset['age']=round(dataset['age']/365,2)

In [10]:
del dataset["id"]

In [11]:
dataset.sample(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
53168,61.79,2,158,61.0,160,90,3,1,0,0,1,1
68364,45.48,1,169,85.0,90,60,1,1,0,0,0,1
24576,41.35,2,170,74.0,120,80,1,1,0,0,1,0
39907,63.42,2,170,92.0,140,100,2,1,0,0,1,1
4211,49.23,2,178,73.0,130,90,1,1,0,0,1,0

In [12]:
dataset.shape

(70000, 12)

In [13]:
X = dataset.iloc[:, :-1].values  #independent variables
y = dataset.iloc[:, 11].values   #dependent variable

In [14]:
dataset.isna().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

## XGBOOST

In [15]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [16]:
cls = XGBClassifier()
cls.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

## Save the model

In [17]:
import pickle

In [18]:
pickle.dump(cls,open('model.pkl','wb'))